#main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#layers{
    background-color:rgba(74, 74, 74, 0.8);
    color: wheat;
    width: 20vw;
    height: 80vh;
    padding-left:  10vw;
    padding-top:  10vw;
    padding-bottom:  10vw;
}